/* HERO */
.hero {
    background-image: linear-gradient(to right, var(--color1) 60%, var(--color1) 5%,  transparent), url("./heroImage.jpg");     
    background-repeat: no-repeat;     
    background-position:  left top, right 0 bottom -350px;
    background-size: 100%, 40%;
    background-origin: border-box;
    border-radius: 25px;
		box-shadow: 0 10px 2px -5px #999;		
		z-index: 2;
}

.section-title,
.section-subtitle,
.section-description {
	color:white;
	text-align: left;	
	margin: 0 0 30px 30px;
}

.section-title {
	font-size: 2em;	
	text-transform: capitalize;
	text-decoration: underline;	
}

.section-subtitle {
	font-size: 1em;	
	text-transform: capitalize;	
}

.section-description {	
	font-size: 1em;
}


