/* HEADER */
.header {
    background-image: var(--gradient1);    
    margin-bottom: 15px;
}

/* HEADER ITEM */
/* HEADER ITEM*/
.sidebar,
.search,
.user {		
	margin-right: 20px;
}


/* SEARCH */
.search {
    border: 2px solid white;
    border-radius: 25px;
    background-color: white;
}

.search input[type="text"] {
    border: none;
    outline: none; 
    border-radius: 25px 0 0 25px;      
}

.search button {
    
}

/* SIDEBAR */
.sidebar {
    background-color: transparent;
    border: none
}

/* USER */

.user {
    
}

.user h3 {	
	text-transform: uppercase;
}

