.footer {
    background-image: linear-gradient(to right, var(--color1), var(--color2));;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
    width: 100vw;
    height: 200px;
}

.footer__social {
    display: flex;
    flex-flow: row wrap;
}

.social-link {
    width: 50px;
}
